/* Estilo base */
body {
    padding: 5px;
    margin: 0;
    font-family: Verdana, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.header {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en lugar de estar en una sola línea */
    align-items: center;
    justify-content: center;
}

.header h1 {
    flex: 1;
    text-align: center;
    color: #08c3f1;
    margin: 0;
}

.header .logo {
    width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-left: 20px;
}

.controls {
    display: flex;
    flex-wrap: wrap; /* Permite que los controles se envuelvan si no hay suficiente espacio */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Reduce el espacio entre los elementos en pantallas pequeñas */
    margin-bottom: 20px;
}

.controls label {
    font-size: 14px; /* Ajusta el tamaño del texto en pantallas pequeñas */
}

.controls select, .controls input {
    font-size: 12px; /* Ajusta el tamaño del texto en pantallas pequeñas */
    padding: 5px;
    border: 1px solid #08c3f1;
    border-radius: 4px;
    color: #333;
}

.controls select, .controls input {
    width: 100%; /* Asegura que los campos ocupen el 100% del contenedor en pantallas pequeñas */
    max-width: 200px; /* Limita el ancho máximo de los campos */
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #08c3f1;
    color: #ffffff;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#pagination {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones de paginación se envuelvan si no hay suficiente espacio */
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    background-color: #08c3f1;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px; /* Añade espacio alrededor de los botones en pantallas pequeñas */
}

#pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Cambia la dirección del flex en pantallas más pequeñas */
        align-items: center;
    }

    .header h1 {
        margin: 10px 0;
    }

    .header .logo {
        margin-left: 0;
        margin-top: 10px;
    }

    .controls {
        flex-direction: column; /* Cambia la dirección del flex en pantallas más pequeñas */
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .controls select, .controls input {
        font-size: 10px; /* Ajusta el tamaño del texto en pantallas más pequeñas */
        padding: 4px;
    }

    #pagination button {
        padding: 8px;
        margin: 3px; /* Reduce el margen en pantallas más pequeñas */
    }
}
