body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('/img/fondo.jpeg') no-repeat center center fixed; /* Cambia fixed a scroll */
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 95%;
    margin: auto;
    padding-top: 20px;
    flex: 1; /* Se expande para ocupar el espacio disponible */
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header h1 {
    flex: 1;
    text-align: center;
    color: #08c3f1;
    margin: 0;
}

.header .logo {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    color: #fcfbfb;
    font-weight: bold;
}

.controls select, .controls input {
    font-size: 12px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #08c3f1;
    border-radius: 4px;
    color: #070000;
    max-width: 210px;
}

.controls label, .controls span {
    color: #fcfbfb;
    /* Añadir sombra al texto para mejorar la legibilidad */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}


/* Ajuste para pantallas grandes (navegador de PC) */
@media (min-width: 769px) {
    .controls {
        flex-direction: row; /* Los elementos se muestran en fila */
    }

    /* Estilo de los enlaces deshabilitados en pantallas grandes */
    .professional-link {
        text-decoration: none;
        color: inherit;
        cursor: default;
    }
}

/* Ajuste para pantallas pequeñas (responsive) */
@media screen and (max-width:776px) {
        .header {
        flex-direction: column;
        align-items: center;
        
    }

    .controls-wrapper {
        margin-bottom: 20px; /* Ajusta esta distancia para mover todo el bloque junto */
        margin-top: 20px;
    }

    .header .logo {
        margin-left: 0;
        margin-top: 10px;
    }

    .controls {
        flex-direction: column; /* Los elementos se muestran en columna */
        gap: 15px; /* Ajusta la separación entre los controles en pantallas pequeñas */
    }

    .controls select, .controls input {
        width: 100%; /* Ocupa el 100% del ancho disponible */
    }

   
    th:nth-child(4), td:nth-child(4), /* Ocultar columna de LOCALIDAD */
    th:nth-child(5), td:nth-child(5)  /* Ocultar columna de TELEFONO */ {
        display: none;
    }

    th:nth-child(1), /* Especialidad */
    th:nth-child(2), /* Apellido y Nombre */
    th:nth-child(3)  /* Dirección */ {
        font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
    }

    /* Estilo de los enlaces habilitados en pantallas pequeñas */
    .professional-link {
        text-decoration: underline;
        color: blue;
        cursor: pointer;
    }
}

table {
    width: 100%;
    table-layout: fixed; /* Forzar a la tabla a ajustarse al ancho */
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco más translúcido */
    border-radius: 15px; /* Borde redondeado */
    overflow: hidden; /* Asegura que el contenido de la tabla se ajuste al borde redondeado */
}

thead {
    background-color: rgba(8, 195, 241, 0.9); /* Cabecera semitransparente */
    color: #ffffff;
}

th, td {
    border: 1px solid rgba(221, 221, 221, 0.6); /* Bordes más translúcidos */
    text-align: left;
    padding: 8px;
    color: rgba(2, 0, 10, 0.9); /* Color del texto con un poco de transparencia */
    word-wrap: break-word; /* Evitar desbordamiento de texto */
}

tr:nth-child(even) {
    background-color: rgba(245, 245, 245, 0.7); /* Fondo gris claro más translúcido */
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco más translúcido */
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente la información de la paginación */
    margin-top: 20px;
}

#pagination button {
    background-color: #08c3f1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

#pagination #pageInfo {
    margin: 0 15px; /* Agrega margen para centrar mejor la información de paginación */
    padding-top: 5px; /* Ajuste para centrar verticalmente */
    color: #ffffff;
}

#pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Personalización del SweetAlert2 Popup */
.swal2-popup-custom {
    font-size: 16px;
    border-radius: 10px;
}

.swal2-title-custom {
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.swal2-html-custom {
    text-align: left;
    color: #333;
    font-size: 16px;
}

.swal2-html-custom p {
    margin: 10px 0;
}

.swal2-html-custom p strong {
    font-weight: bold;
    color: #444;
}

/* Estilos para el footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #08c3f1;
    color: white;
    padding: 5px 30px;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box; /* Asegura que el padding no empuje al footer fuera de la pantalla */
    position: relative;
}

.footer-text {
    font-size: 16px;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-icons img {
    width: 30px;
    margin-left: 20px;
}

.footer-icons a {
    display: inline-block;
}